node-red/MP3PlayerWithS4E.json
[
    {
        "id": "65b8019f.ef5c3",
        "type": "tab",
        "label": "MP3Play w/ S4E & STM32f769i",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ed5d7b5.3c24a88",
        "type": "inject",
        "z": "65b8019f.ef5c3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1580,
        "wires": [
            [
                "7a9e79a0.71aaf"
            ]
        ]
    },
    {
        "id": "30dd0134.e070e6",
        "type": "debug",
        "z": "65b8019f.ef5c3",
        "name": "debugESGET",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 1580,
        "wires": []
    },
    {
        "id": "652e74b3.5a329c",
        "type": "mqtt in",
        "z": "65b8019f.ef5c3",
        "name": "TriggerFrom MQTT",
        "topic": "dev/update/+/mp3Player",
        "qos": "0",
        "datatype": "auto",
        "broker": "5b211d30.836d3c",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "2bdda8c4.294838",
                "a00787ba.fd7c68",
                "4bee5079.a2a388"
            ]
        ]
    },
    {
        "id": "d026b57e.e7541",
        "type": "debug",
        "z": "65b8019f.ef5c3",
        "name": "debugPopulateTrackdDropDown",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1510,
        "y": 300,
        "wires": []
    },
    {
        "id": "b4782f01.33ee18",
        "type": "sqlite",
        "z": "65b8019f.ef5c3",
        "mydb": "a2ebfdb0.d62cf8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 1080,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a28f0d54.2c4698",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "d": true,
        "name": "Insert SQL",
        "func": "var seconds_remaining = msg.payload.seconds_remaining\nmsg.topic = \"insert into MP3Player_access_log(status, Track, seconds_remaining, vol) values ('\"+\n             msg.payload.status+\"','\"+msg.payload.track+\"',\"+msg.payload.seconds_remaining+\",\"+msg.payload.vol+\");\";\nconsole.log(\"Insert SQL:\"+ msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "b4782f01.33ee18"
            ]
        ]
    },
    {
        "id": "6de16db5.ee3f14",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "MP3 Player Status",
        "func": "var vol          = {topic: \"Volume\",         payload: msg.payload.vol};\nvar secRemaining = {topic: \"Sec. Remaining\", payload: msg.payload.seconds_remaining};\n\n\n\nreturn [vol,secRemaining];",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "6721cdee.683794"
            ],
            [
                "6721cdee.683794"
            ]
        ]
    },
    {
        "id": "29ee2f75.dddec8",
        "type": "inject",
        "z": "65b8019f.ef5c3",
        "name": "Reset chart",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "5159e284.3ff64c"
            ]
        ]
    },
    {
        "id": "5159e284.3ff64c",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Reset chart",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 920,
        "wires": [
            [
                "6721cdee.683794"
            ]
        ]
    },
    {
        "id": "4bee5079.a2a388",
        "type": "json",
        "z": "65b8019f.ef5c3",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "7de7fdc4.1ee17c",
                "c8a432c4.9aeb8",
                "e904875e.286d5",
                "6de16db5.ee3f14",
                "931f565.82eb9a8",
                "a28f0d54.2c4698",
                "b84f0132.474658"
            ]
        ]
    },
    {
        "id": "bfbd54d2.0bd8d8",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F746g/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1350,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b87612f3.abaca8",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "set VOL AE",
        "func": "var newPayload = {actionEvent: \"setVolume\",data: msg.payload.toString()};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"Volume Changed\"}];",
        "outputs": 2,
        "noerr": 0,
        "x": 610,
        "y": 1320,
        "wires": [
            [
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004",
                "bcff81f9.e79c38"
            ],
            [
                "fc52a0b5.aa1c1"
            ]
        ]
    },
    {
        "id": "630b3f0c.9aff68",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Set RGB LED",
        "func": "var newPayload = {actionEvent: \"setRGBLED\",data: msg.payload};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"RGB SET\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004",
                "bcff81f9.e79c38"
            ],
            [
                "fc52a0b5.aa1c1"
            ]
        ]
    },
    {
        "id": "2bdda8c4.294838",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "d": true,
        "name": "Map MP3Player Status to ES",
        "func": "var newMsg = { payload: msg.payload, documentIndex: \"s4e\",documentId:Date.now(),  documentType : \"mp3player\"};\nvar msgAsString = JSON.stringify(newMsg);\nnode.log(\"Sending Msg to ES:\"+msgAsString);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "135582f9.4cc275"
            ]
        ]
    },
    {
        "id": "5345c89c.d9777",
        "type": "inject",
        "z": "65b8019f.ef5c3",
        "name": "Create MP3Player_access_log Table",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE MP3Player_access_log(id INTEGER PRIMARY KEY AUTOINCREMENT, Status TEXT NOT NULL, Track TEXT NOT NULL, Seconds_Remaining INT NOT NULL,  Vol INT NOT NULL, create_datetime default current_timestamp);",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "b4782f01.33ee18"
            ]
        ]
    },
    {
        "id": "cd12f3c.0911d9",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "",
        "func": "msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "9765ba99.f4ee98"
            ]
        ]
    },
    {
        "id": "66b64c02.03549c",
        "type": "catch",
        "z": "65b8019f.ef5c3",
        "name": "",
        "scope": null,
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "fe952e0d.07e39",
                "cd12f3c.0911d9"
            ]
        ]
    },
    {
        "id": "fe952e0d.07e39",
        "type": "debug",
        "z": "65b8019f.ef5c3",
        "name": "",
        "active": true,
        "console": false,
        "complete": "error",
        "x": 360,
        "y": 1720,
        "wires": []
    },
    {
        "id": "9765ba99.f4ee98",
        "type": "delay",
        "z": "65b8019f.ef5c3",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 580,
        "y": 1660,
        "wires": [
            [
                "63f0c8e3.c2bc58"
            ]
        ]
    },
    {
        "id": "a00787ba.fd7c68",
        "type": "debug",
        "z": "65b8019f.ef5c3",
        "name": "debugMQTTInboundMsg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "7c368bd4.9460ac",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/myTopic",
        "qos": "0",
        "retain": "",
        "broker": "dcb398f1.2dd66",
        "x": 1200,
        "y": 640,
        "wires": []
    },
    {
        "id": "b84f0132.474658",
        "type": "rbe",
        "z": "65b8019f.ef5c3",
        "name": "Send to AWS IOT Only on Volume Change",
        "func": "deadband",
        "gap": "5%",
        "start": "",
        "inout": "out",
        "property": "payload.vol",
        "x": 880,
        "y": 640,
        "wires": [
            [
                "7c368bd4.9460ac",
                "23c185e0.b55bca"
            ]
        ]
    },
    {
        "id": "22956e93.782022",
        "type": "mqtt in",
        "z": "65b8019f.ef5c3",
        "name": "AWS IOT Shadow update",
        "topic": "dev/update/STM32F769i/mp3Player",
        "qos": "0",
        "datatype": "auto",
        "broker": "dcb398f1.2dd66",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "23c185e0.b55bca",
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004"
            ]
        ]
    },
    {
        "id": "23c185e0.b55bca",
        "type": "debug",
        "z": "65b8019f.ef5c3",
        "name": "debugAWSIOTShadow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1310,
        "y": 940,
        "wires": []
    },
    {
        "id": "6e323504.dc3004",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F769i/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1350,
        "y": 1200,
        "wires": []
    },
    {
        "id": "3795f160.2f8f16",
        "type": "mqtt in",
        "z": "65b8019f.ef5c3",
        "name": "TriggerFrom MQTT",
        "topic": "dev/update/+/mp3Player/populateTracksDropDown",
        "qos": "0",
        "datatype": "auto",
        "broker": "5b211d30.836d3c",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c237c3e3.a10488"
            ]
        ]
    },
    {
        "id": "491f714e.195a8",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Populate Drop down",
        "func": "msg2 = {options: [ msg.payload] }\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "307804b9.72f60c"
            ]
        ]
    },
    {
        "id": "c237c3e3.a10488",
        "type": "json",
        "z": "65b8019f.ef5c3",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "491f714e.195a8",
                "17740645.0205da"
            ]
        ]
    },
    {
        "id": "51cadaed.f7dc74",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Reposition To Track",
        "func": "var newMsg = {actionEvent: \"repositionToTrack\",data: msg.payload};\n\nreturn {payload: newMsg};",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "78a0e0ed.858be",
                "d026b57e.e7541",
                "cd8a0c8b.345ae8",
                "fec2552.fdf21a8"
            ]
        ]
    },
    {
        "id": "78a0e0ed.858be",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F769i/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1550,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcff81f9.e79c38",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F407BlackBoard/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1330,
        "y": 1060,
        "wires": []
    },
    {
        "id": "cd8a0c8b.345ae8",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F746G/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1550,
        "y": 160,
        "wires": []
    },
    {
        "id": "fec2552.fdf21a8",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F407/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1550,
        "y": 220,
        "wires": []
    },
    {
        "id": "17740645.0205da",
        "type": "http request",
        "z": "65b8019f.ef5c3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://worldtimeapi.org/api/ip",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "88c3d8ba.6d8f"
            ]
        ]
    },
    {
        "id": "7b2a33c9.b97bfc",
        "type": "inject",
        "z": "65b8019f.ef5c3",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "17740645.0205da"
            ]
        ]
    },
    {
        "id": "88c3d8ba.6d8f",
        "type": "json",
        "z": "65b8019f.ef5c3",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "3960ff79.daa94"
            ]
        ]
    },
    {
        "id": "3960ff79.daa94",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "set Unix Time",
        "func": "var newPayload = {\"actionEvent\": \"setUnixtime\", \"data\": msg.payload.unixtime.toString() };\n\nvar newMsg = {payload: newPayload};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "d026b57e.e7541",
                "d66f0645.7a5da8"
            ]
        ]
    },
    {
        "id": "d66f0645.7a5da8",
        "type": "mqtt out",
        "z": "65b8019f.ef5c3",
        "name": "",
        "topic": "dev/cmd/STM32F407BlackBoard/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "5b211d30.836d3c",
        "x": 1570,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9a2ab35.5cb55",
        "type": "mqtt in",
        "z": "65b8019f.ef5c3",
        "name": "TriggerFrom MQTT",
        "topic": "dev/getTime",
        "qos": "0",
        "datatype": "auto",
        "broker": "5b211d30.836d3c",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "cec6c0b8.2c4e"
            ]
        ]
    },
    {
        "id": "b0ee2ada.59a828",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "6721cdee.683794"
            ]
        ]
    },
    {
        "id": "7d0e7ba1.9640dc",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Toggle Mute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"toggleMute\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004",
                "bcff81f9.e79c38"
            ]
        ]
    },
    {
        "id": "388f3c02.579534",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Toggle Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"togglePause\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1240,
        "wires": [
            [
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004",
                "bcff81f9.e79c38"
            ]
        ]
    },
    {
        "id": "8cc29d3b.85c82",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Next Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"nextTrack\"}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "bfbd54d2.0bd8d8",
                "6e323504.dc3004",
                "bcff81f9.e79c38"
            ]
        ]
    },
    {
        "id": "55f5f7c3.86fb5",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Prev Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"prevTrack\"}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "6e323504.dc3004",
                "bfbd54d2.0bd8d8"
            ]
        ]
    },
    {
        "id": "6721cdee.683794",
        "type": "ui_chart",
        "z": "65b8019f.ef5c3",
        "name": "Volume & Seconds Remaining",
        "group": "62032bec.df09ac",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Volume Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#f83913",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff05a6",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "307804b9.72f60c",
        "type": "ui_dropdown",
        "z": "65b8019f.ef5c3",
        "name": "Play Track Dropdown",
        "label": "Play Track",
        "tooltip": "Play Track",
        "place": "Select option",
        "group": "62032bec.df09ac",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "51cadaed.f7dc74",
                "57baf1a.51feb1"
            ]
        ]
    },
    {
        "id": "b6a69d24.f51278",
        "type": "ui_numeric",
        "z": "65b8019f.ef5c3",
        "name": "",
        "label": "Set Volume",
        "tooltip": "",
        "group": "62032bec.df09ac",
        "order": 18,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "b87612f3.abaca8"
            ]
        ]
    },
    {
        "id": "9cf734e5.9a5ea8",
        "type": "ui_slider",
        "z": "65b8019f.ef5c3",
        "name": "",
        "label": "Volume Slider",
        "tooltip": "",
        "group": "62032bec.df09ac",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "b87612f3.abaca8"
            ]
        ]
    },
    {
        "id": "58d2f9a5.b4bd1",
        "type": "ui_text_input",
        "z": "65b8019f.ef5c3",
        "name": "Set RGB LED",
        "label": "Set RGB LED",
        "tooltip": "",
        "group": "62032bec.df09ac",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "630b3f0c.9aff68"
            ]
        ]
    },
    {
        "id": "931f565.82eb9a8",
        "type": "ui_text",
        "z": "65b8019f.ef5c3",
        "group": "62032bec.df09ac",
        "order": 11,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "7de7fdc4.1ee17c",
        "type": "ui_text",
        "z": "65b8019f.ef5c3",
        "group": "62032bec.df09ac",
        "order": 12,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Track",
        "format": "{{msg.payload.track}}",
        "layout": "row-spread",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "c8a432c4.9aeb8",
        "type": "ui_text",
        "z": "65b8019f.ef5c3",
        "group": "62032bec.df09ac",
        "order": 14,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Volume",
        "format": "{{msg.payload.vol}}",
        "layout": "row-spread",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "e904875e.286d5",
        "type": "ui_text",
        "z": "65b8019f.ef5c3",
        "group": "62032bec.df09ac",
        "order": 15,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Time Remaining",
        "format": "{{msg.payload.timeRemaining}}",
        "layout": "row-spread",
        "x": 910,
        "y": 780,
        "wires": []
    },
    {
        "id": "fc52a0b5.aa1c1",
        "type": "ui_toast",
        "z": "65b8019f.ef5c3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Change",
        "name": "Change",
        "x": 1100,
        "y": 1460,
        "wires": []
    },
    {
        "id": "63f0c8e3.c2bc58",
        "type": "ui_toast",
        "z": "65b8019f.ef5c3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 910,
        "y": 1660,
        "wires": []
    },
    {
        "id": "57baf1a.51feb1",
        "type": "ui_toast",
        "z": "65b8019f.ef5c3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Change",
        "name": "Change",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "135582f9.4cc275",
        "type": "es-create",
        "z": "65b8019f.ef5c3",
        "d": true,
        "name": "S4E MP3Player",
        "documentIndex": "s4e",
        "documentType": "mp3player",
        "server": "cc002b2d.3d3e58",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "d026b57e.e7541"
            ]
        ]
    },
    {
        "id": "7a9e79a0.71aaf",
        "type": "es-get",
        "z": "65b8019f.ef5c3",
        "d": true,
        "name": "Get Record by ID",
        "documentId": "1585586013800",
        "documentIndex": "s4e",
        "documentType": "mp3player",
        "includeFields": "",
        "server": "cc002b2d.3d3e58",
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "30dd0134.e070e6"
            ]
        ]
    },
    {
        "id": "e3bcdc47.f053d8",
        "type": "msg-router",
        "z": "65b8019f.ef5c3",
        "routerType": "message",
        "topicDependent": false,
        "counterReset": false,
        "msgKeyField": "payload",
        "undefinedHash": false,
        "outputsInfo": [
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            },
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            }
        ],
        "name": "",
        "delaying": "unrelated",
        "msgControl": false,
        "outputs": 2,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "17740645.0205da"
            ],
            []
        ]
    },
    {
        "id": "57b7e145.37c1",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Add route",
        "func": "var outputValue = 2;\nif ( msg.payload.output === undefined || msg.payload.output == 0)\n       outputValue = 1;\nelse\n    outputValue = msg.payload.output;\nvar newMsg = { payload: msg.payload, output: outputValue};\nvar msgAsString = JSON.stringify(newMsg);\nnode.log(\"Sending Msg to ES:\"+msgAsString);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "e3bcdc47.f053d8",
                "a00787ba.fd7c68"
            ]
        ]
    },
    {
        "id": "cec6c0b8.2c4e",
        "type": "json",
        "z": "65b8019f.ef5c3",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "57b7e145.37c1"
            ]
        ]
    },
    {
        "id": "53c6e405.7f591c",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Go To Sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"goToSleep\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "bcff81f9.e79c38",
                "6e323504.dc3004",
                "bfbd54d2.0bd8d8"
            ]
        ]
    },
    {
        "id": "3315252.5cfb1da",
        "type": "ui_button",
        "z": "65b8019f.ef5c3",
        "name": "",
        "group": "62032bec.df09ac",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Toggle Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"toggleBuzzer\"}",
        "payloadType": "json",
        "topic": "",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "bcff81f9.e79c38"
            ]
        ]
    },
    {
        "id": "abd6eeb3.5fc7f",
        "type": "ui_text_input",
        "z": "65b8019f.ef5c3",
        "name": "Invoke AE",
        "label": "Invoke AE",
        "tooltip": "",
        "group": "62032bec.df09ac",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "af9300f8.6f522"
            ]
        ]
    },
    {
        "id": "af9300f8.6f522",
        "type": "function",
        "z": "65b8019f.ef5c3",
        "name": "Set AE",
        "func": "var newPayload = {actionEvent: msg.payload};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"AE SET\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "bcff81f9.e79c38",
                "6e323504.dc3004",
                "bfbd54d2.0bd8d8"
            ],
            []
        ]
    },
    {
        "id": "5b211d30.836d3c",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a2ebfdb0.d62cf8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/abusous2000/Downloads/Temp/sqlite3/test.db",
        "mode": "RWC"
    },
    {
        "id": "dcb398f1.2dd66",
        "type": "mqtt-broker",
        "z": "",
        "name": "AWS IOT",
        "broker": "a1km560udu1n3o-ats.iot.us-west-2.amazonaws.com",
        "port": "8883",
        "tls": "5b3a4177.a42978",
        "clientid": "zdev_3",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "62032bec.df09ac",
        "type": "ui_group",
        "z": 0,
        "name": "Struts4Embedded",
        "tab": "a5999eb3.8821b",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "cc002b2d.3d3e58",
        "type": "remote-server",
        "z": 0,
        "name": "Docker ES",
        "host": "http://localhost:9200",
        "timeout": "2000",
        "reqtimeout": "2000"
    },
    {
        "id": "5b3a4177.a42978",
        "type": "tls-config",
        "z": "",
        "name": "AWS-TLS",
        "cert": "/home/abusous2000/Downloads/Temp/certificate.pem.crt",
        "key": "/home/abusous2000/Downloads/Temp/private.pem.key",
        "ca": "/home/abusous2000/Downloads/Temp/amazon_cas.txt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "a5999eb3.8821b",
        "type": "ui_tab",
        "z": 0,
        "name": "Struts4Embedded",
        "icon": "fa-bitcoin",
        "disabled": false,
        "hidden": false
    }
]