node-red/MP3PlayerWithS4E.json
[
    {
        "id": "31cc55da.55e6da",
        "type": "tab",
        "label": "MP3Play w/ S4E & STM32f769i",
        "disabled": false,
        "info": ""
    },
    {
        "id": "102c0e14.d41132",
        "type": "inject",
        "z": "31cc55da.55e6da",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 1580,
        "wires": [
            [
                "e84e3a34.32e2f8"
            ]
        ]
    },
    {
        "id": "d2d732d.bfa4ad",
        "type": "debug",
        "z": "31cc55da.55e6da",
        "name": "debugESGET",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 1580,
        "wires": []
    },
    {
        "id": "8563f0a.2bbf71",
        "type": "mqtt in",
        "z": "31cc55da.55e6da",
        "name": "TriggerFrom MQTT",
        "topic": "dev/update/+/mp3Player",
        "qos": "0",
        "datatype": "auto",
        "broker": "bc23579c.d8182",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "97b45083.1cd1f",
                "8e1e7a87.63a8a8",
                "4ceb5228.2320d4"
            ]
        ]
    },
    {
        "id": "91256a99.8d90c",
        "type": "debug",
        "z": "31cc55da.55e6da",
        "name": "debugPopulateTrackdDropDown",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1510,
        "y": 300,
        "wires": []
    },
    {
        "id": "c902220.8962a6",
        "type": "sqlite",
        "z": "31cc55da.55e6da",
        "mydb": "93b598be.426a8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "sqlite3",
        "x": 1080,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2eda6132.02d356",
        "type": "function",
        "z": "31cc55da.55e6da",
        "d": true,
        "name": "Insert SQL",
        "func": "var seconds_remaining = msg.payload.seconds_remaining\nmsg.topic = \"insert into MP3Player_access_log(status, Track, seconds_remaining, vol) values ('\"+\n             msg.payload.status+\"','\"+msg.payload.track+\"',\"+msg.payload.seconds_remaining+\",\"+msg.payload.vol+\");\";\nconsole.log(\"Insert SQL:\"+ msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "c902220.8962a6"
            ]
        ]
    },
    {
        "id": "317b2a25.c56c2e",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "MP3 Player Status",
        "func": "var vol          = {topic: \"Volume\",         payload: msg.payload.vol};\nvar secRemaining = {topic: \"Sec. Remaining\", payload: msg.payload.seconds_remaining};\n\n\n\nreturn [vol,secRemaining];",
        "outputs": 2,
        "noerr": 0,
        "x": 620,
        "y": 800,
        "wires": [
            [
                "6bb7f2ae.fec0ac"
            ],
            [
                "6bb7f2ae.fec0ac"
            ]
        ]
    },
    {
        "id": "a7cb185d.6e9aa8",
        "type": "inject",
        "z": "31cc55da.55e6da",
        "name": "Reset chart",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "a28bfe61.2f44f"
            ]
        ]
    },
    {
        "id": "a28bfe61.2f44f",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Reset chart",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 920,
        "wires": [
            [
                "6bb7f2ae.fec0ac"
            ]
        ]
    },
    {
        "id": "4ceb5228.2320d4",
        "type": "json",
        "z": "31cc55da.55e6da",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "edafedd.febee1",
                "74bc18a1.c7c2",
                "d279778f.0795d",
                "317b2a25.c56c2e",
                "d2e767d4.0f5848",
                "2eda6132.02d356",
                "4b4655d.491b72c"
            ]
        ]
    },
    {
        "id": "d8f6c3bd.719ee8",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F746g/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1350,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b756cf62.4b0b48",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "set VOL AE",
        "func": "var newPayload = {actionEvent: \"setVolume\",data: msg.payload.toString()};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"Volume Changed\"}];",
        "outputs": 2,
        "noerr": 0,
        "x": 610,
        "y": 1320,
        "wires": [
            [
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd",
                "849edac7.64eaf8"
            ],
            [
                "acd1a5c7.03a49"
            ]
        ]
    },
    {
        "id": "fd6fa716.a0a988",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Set RGB LED",
        "func": "var newPayload = {actionEvent: \"setRGBLED\",data: msg.payload};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"RGB SET\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd",
                "849edac7.64eaf8"
            ],
            [
                "acd1a5c7.03a49"
            ]
        ]
    },
    {
        "id": "97b45083.1cd1f",
        "type": "function",
        "z": "31cc55da.55e6da",
        "d": true,
        "name": "Map MP3Player Status to ES",
        "func": "var newMsg = { payload: msg.payload, documentIndex: \"s4e\",documentId:Date.now(),  documentType : \"mp3player\"};\nvar msgAsString = JSON.stringify(newMsg);\nnode.log(\"Sending Msg to ES:\"+msgAsString);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "735925eb.20605c"
            ]
        ]
    },
    {
        "id": "22f1e2e3.49075e",
        "type": "inject",
        "z": "31cc55da.55e6da",
        "name": "Create MP3Player_access_log Table",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE MP3Player_access_log(id INTEGER PRIMARY KEY AUTOINCREMENT, Status TEXT NOT NULL, Track TEXT NOT NULL, Seconds_Remaining INT NOT NULL,  Vol INT NOT NULL, create_datetime default current_timestamp);",
        "payload": "",
        "payloadType": "date",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "c902220.8962a6"
            ]
        ]
    },
    {
        "id": "4b36d05e.2a38f8",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "",
        "func": "msg.topic = \"API Error\";\nif (msg.error) {\n msg.payload = msg.error.message\n} else {\n msg.payload = \"\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 1660,
        "wires": [
            [
                "1f47cabe.425dc5"
            ]
        ]
    },
    {
        "id": "99e59a4c.57df6",
        "type": "catch",
        "z": "31cc55da.55e6da",
        "name": "",
        "scope": null,
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "a3377e5c.427538",
                "4b36d05e.2a38f8"
            ]
        ]
    },
    {
        "id": "a3377e5c.427538",
        "type": "debug",
        "z": "31cc55da.55e6da",
        "name": "",
        "active": true,
        "console": false,
        "complete": "error",
        "x": 360,
        "y": 1720,
        "wires": []
    },
    {
        "id": "1f47cabe.425dc5",
        "type": "delay",
        "z": "31cc55da.55e6da",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 580,
        "y": 1660,
        "wires": [
            [
                "b2c71b78.78878"
            ]
        ]
    },
    {
        "id": "8e1e7a87.63a8a8",
        "type": "debug",
        "z": "31cc55da.55e6da",
        "name": "debugMQTTInboundMsg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "d3f1960c.a0903",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/myTopic",
        "qos": "0",
        "retain": "",
        "broker": "e2cc24b8.a66d4",
        "x": 1200,
        "y": 640,
        "wires": []
    },
    {
        "id": "4b4655d.491b72c",
        "type": "rbe",
        "z": "31cc55da.55e6da",
        "name": "Send to AWS IOT Only on Volume Change",
        "func": "deadband",
        "gap": "5%",
        "start": "",
        "inout": "out",
        "property": "payload.vol",
        "x": 880,
        "y": 640,
        "wires": [
            [
                "d3f1960c.a0903",
                "4bf6e2e3.1624cc"
            ]
        ]
    },
    {
        "id": "3173cad0.1dca06",
        "type": "mqtt in",
        "z": "31cc55da.55e6da",
        "name": "AWS IOT Shadow update",
        "topic": "dev/update/STM32F769i/mp3Player",
        "qos": "0",
        "datatype": "auto",
        "broker": "e2cc24b8.a66d4",
        "x": 410,
        "y": 980,
        "wires": [
            [
                "4bf6e2e3.1624cc",
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd"
            ]
        ]
    },
    {
        "id": "4bf6e2e3.1624cc",
        "type": "debug",
        "z": "31cc55da.55e6da",
        "name": "debugAWSIOTShadow",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1310,
        "y": 940,
        "wires": []
    },
    {
        "id": "c010b06b.b3bd",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F769i/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1350,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ffac4317.2652b8",
        "type": "mqtt in",
        "z": "31cc55da.55e6da",
        "name": "TriggerFrom MQTT",
        "topic": "dev/update/+/mp3Player/populateTracksDropDown",
        "qos": "0",
        "datatype": "auto",
        "broker": "bc23579c.d8182",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "8bdbb7f0.a19768"
            ]
        ]
    },
    {
        "id": "91da46f.5fb78b8",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Populate Drop down",
        "func": "msg2 = {options: [ msg.payload] }\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 100,
        "wires": [
            [
                "2afbdb73.8fb6d4"
            ]
        ]
    },
    {
        "id": "8bdbb7f0.a19768",
        "type": "json",
        "z": "31cc55da.55e6da",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "91da46f.5fb78b8",
                "9045495f.44cfc"
            ]
        ]
    },
    {
        "id": "6cbd7bd6.6de33c",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Reposition To Track",
        "func": "var newMsg = {actionEvent: \"repositionToTrack\",data: msg.payload};\n\nreturn {payload: newMsg};",
        "outputs": 1,
        "noerr": 0,
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "487739dc.a96b78",
                "91256a99.8d90c",
                "4a55e0ea.a0d6a",
                "524dff9c.53cc5"
            ]
        ]
    },
    {
        "id": "487739dc.a96b78",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F769i/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1550,
        "y": 80,
        "wires": []
    },
    {
        "id": "849edac7.64eaf8",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F407BlackBoard/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1330,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4a55e0ea.a0d6a",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F746G/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1550,
        "y": 160,
        "wires": []
    },
    {
        "id": "524dff9c.53cc5",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F407/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1550,
        "y": 220,
        "wires": []
    },
    {
        "id": "9045495f.44cfc",
        "type": "http request",
        "z": "31cc55da.55e6da",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://worldtimeapi.org/api/ip",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 860,
        "y": 180,
        "wires": [
            [
                "6f1125a8.8af054"
            ]
        ]
    },
    {
        "id": "8ff40b9c.a39bf8",
        "type": "inject",
        "z": "31cc55da.55e6da",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "9045495f.44cfc"
            ]
        ]
    },
    {
        "id": "6f1125a8.8af054",
        "type": "json",
        "z": "31cc55da.55e6da",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "2e68d2ae.eeaf46"
            ]
        ]
    },
    {
        "id": "2e68d2ae.eeaf46",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "set Unix Time",
        "func": "var newPayload = {\"actionEvent\": \"setUnixtime\", \"data\": msg.payload.unixtime.toString() };\n\nvar newMsg = {payload: newPayload};\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "91256a99.8d90c",
                "8df444ee.0039a"
            ]
        ]
    },
    {
        "id": "8df444ee.0039a",
        "type": "mqtt out",
        "z": "31cc55da.55e6da",
        "name": "",
        "topic": "dev/cmd/STM32F429ZI/mp3Player",
        "qos": "0",
        "retain": "",
        "broker": "bc23579c.d8182",
        "x": 1530,
        "y": 360,
        "wires": []
    },
    {
        "id": "30eca76f.54781",
        "type": "mqtt in",
        "z": "31cc55da.55e6da",
        "name": "TriggerFrom MQTT",
        "topic": "dev/getTime",
        "qos": "0",
        "datatype": "auto",
        "broker": "bc23579c.d8182",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "6667e870.a702c8"
            ]
        ]
    },
    {
        "id": "d4ed592.608c5a8",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset chart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "6bb7f2ae.fec0ac"
            ]
        ]
    },
    {
        "id": "4af17a50.3b4054",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Toggle Mute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"toggleMute\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd",
                "849edac7.64eaf8"
            ]
        ]
    },
    {
        "id": "3818940.54fe2ec",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Toggle Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"togglePause\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1240,
        "wires": [
            [
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd",
                "849edac7.64eaf8"
            ]
        ]
    },
    {
        "id": "8ce59621.f0a7e",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Next Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"nextTrack\"}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "d8f6c3bd.719ee8",
                "c010b06b.b3bd",
                "849edac7.64eaf8"
            ]
        ]
    },
    {
        "id": "284c73f5.1f057c",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Prev Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"prevTrack\"}",
        "payloadType": "json",
        "topic": "",
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "c010b06b.b3bd",
                "d8f6c3bd.719ee8"
            ]
        ]
    },
    {
        "id": "6bb7f2ae.fec0ac",
        "type": "ui_chart",
        "z": "31cc55da.55e6da",
        "name": "Volume & Seconds Remaining",
        "group": "319d1a2c.7cecfe",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Volume Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#f83913",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ff05a6",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2afbdb73.8fb6d4",
        "type": "ui_dropdown",
        "z": "31cc55da.55e6da",
        "name": "Play Track Dropdown",
        "label": "Play Track",
        "tooltip": "Play Track",
        "place": "Select option",
        "group": "319d1a2c.7cecfe",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 930,
        "y": 80,
        "wires": [
            [
                "6cbd7bd6.6de33c",
                "ea048f41.14ad68"
            ]
        ]
    },
    {
        "id": "569463c0.dafa74",
        "type": "ui_numeric",
        "z": "31cc55da.55e6da",
        "name": "",
        "label": "Set Volume",
        "tooltip": "",
        "group": "319d1a2c.7cecfe",
        "order": 18,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "b756cf62.4b0b48"
            ]
        ]
    },
    {
        "id": "e8add296.8d4ae8",
        "type": "ui_slider",
        "z": "31cc55da.55e6da",
        "name": "",
        "label": "Volume Slider",
        "tooltip": "",
        "group": "319d1a2c.7cecfe",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 360,
        "y": 1380,
        "wires": [
            [
                "b756cf62.4b0b48"
            ]
        ]
    },
    {
        "id": "733050e6.339ce8",
        "type": "ui_text_input",
        "z": "31cc55da.55e6da",
        "name": "Set RGB LED",
        "label": "Set RGB LED",
        "tooltip": "",
        "group": "319d1a2c.7cecfe",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "fd6fa716.a0a988"
            ]
        ]
    },
    {
        "id": "d2e767d4.0f5848",
        "type": "ui_text",
        "z": "31cc55da.55e6da",
        "group": "319d1a2c.7cecfe",
        "order": 11,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Status",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "edafedd.febee1",
        "type": "ui_text",
        "z": "31cc55da.55e6da",
        "group": "319d1a2c.7cecfe",
        "order": 12,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Track",
        "format": "{{msg.payload.track}}",
        "layout": "row-spread",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "74bc18a1.c7c2",
        "type": "ui_text",
        "z": "31cc55da.55e6da",
        "group": "319d1a2c.7cecfe",
        "order": 14,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Volume",
        "format": "{{msg.payload.vol}}",
        "layout": "row-spread",
        "x": 880,
        "y": 720,
        "wires": []
    },
    {
        "id": "d279778f.0795d",
        "type": "ui_text",
        "z": "31cc55da.55e6da",
        "group": "319d1a2c.7cecfe",
        "order": 15,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Time Remaining",
        "format": "{{msg.payload.timeRemaining}}",
        "layout": "row-spread",
        "x": 910,
        "y": 780,
        "wires": []
    },
    {
        "id": "acd1a5c7.03a49",
        "type": "ui_toast",
        "z": "31cc55da.55e6da",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Change",
        "name": "Change",
        "x": 1100,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b2c71b78.78878",
        "type": "ui_toast",
        "z": "31cc55da.55e6da",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 910,
        "y": 1660,
        "wires": []
    },
    {
        "id": "ea048f41.14ad68",
        "type": "ui_toast",
        "z": "31cc55da.55e6da",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Change",
        "name": "Change",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "735925eb.20605c",
        "type": "es-create",
        "z": "31cc55da.55e6da",
        "d": true,
        "name": "S4E MP3Player",
        "documentIndex": "s4e",
        "documentType": "mp3player",
        "server": "720bdb22.e394c4",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "91256a99.8d90c"
            ]
        ]
    },
    {
        "id": "e84e3a34.32e2f8",
        "type": "es-get",
        "z": "31cc55da.55e6da",
        "d": true,
        "name": "Get Record by ID",
        "documentId": "1585586013800",
        "documentIndex": "s4e",
        "documentType": "mp3player",
        "includeFields": "",
        "server": "720bdb22.e394c4",
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "d2d732d.bfa4ad"
            ]
        ]
    },
    {
        "id": "69d53920.7caee",
        "type": "msg-router",
        "z": "31cc55da.55e6da",
        "routerType": "message",
        "topicDependent": false,
        "counterReset": false,
        "msgKeyField": "payload",
        "undefinedHash": false,
        "outputsInfo": [
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            },
            {
                "active": true,
                "clone": false,
                "delay": "0",
                "weight": "0"
            }
        ],
        "name": "",
        "delaying": "unrelated",
        "msgControl": false,
        "outputs": 2,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "9045495f.44cfc"
            ],
            []
        ]
    },
    {
        "id": "5fd5fd5e.421b84",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Add route",
        "func": "var outputValue = 2;\nif ( msg.payload.output === undefined || msg.payload.output == 0)\n       outputValue = 1;\nelse\n    outputValue = msg.payload.output;\nvar newMsg = { payload: msg.payload, output: outputValue};\nvar msgAsString = JSON.stringify(newMsg);\nnode.log(\"Sending Msg to ES:\"+msgAsString);\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "69d53920.7caee",
                "8e1e7a87.63a8a8"
            ]
        ]
    },
    {
        "id": "6667e870.a702c8",
        "type": "json",
        "z": "31cc55da.55e6da",
        "name": "To JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "5fd5fd5e.421b84"
            ]
        ]
    },
    {
        "id": "a719eb2c.be746",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Go To Sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"goToSleep\"}",
        "payloadType": "json",
        "topic": "",
        "x": 380,
        "y": 1080,
        "wires": [
            [
                "849edac7.64eaf8",
                "c010b06b.b3bd",
                "d8f6c3bd.719ee8"
            ]
        ]
    },
    {
        "id": "3be89c02.fbf224",
        "type": "ui_button",
        "z": "31cc55da.55e6da",
        "name": "",
        "group": "319d1a2c.7cecfe",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Toggle Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"actionEvent\":\"toggleBuzzer\"}",
        "payloadType": "json",
        "topic": "",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "849edac7.64eaf8"
            ]
        ]
    },
    {
        "id": "af89423b.10857",
        "type": "ui_text_input",
        "z": "31cc55da.55e6da",
        "name": "Invoke AE",
        "label": "Invoke AE",
        "tooltip": "",
        "group": "319d1a2c.7cecfe",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 370,
        "y": 1520,
        "wires": [
            [
                "ee6191b5.1670e"
            ]
        ]
    },
    {
        "id": "ee6191b5.1670e",
        "type": "function",
        "z": "31cc55da.55e6da",
        "name": "Set AE",
        "func": "var newPayload = {actionEvent: msg.payload};\n\nvar newMsg = {payload: newPayload};\n\nreturn [newMsg,{payload: \"AE SET\"}];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "849edac7.64eaf8",
                "c010b06b.b3bd",
                "d8f6c3bd.719ee8"
            ],
            []
        ]
    },
    {
        "id": "bc23579c.d8182",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "93b598be.426a8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/abusous2000/Downloads/Temp/sqlite3/test.db",
        "mode": "RWC"
    },
    {
        "id": "e2cc24b8.a66d4",
        "type": "mqtt-broker",
        "z": "",
        "name": "AWS IOT",
        "broker": "a1km560udu1n3o-ats.iot.us-west-2.amazonaws.com",
        "port": "8883",
        "tls": "ae4dfe1.cbbe58",
        "clientid": "zdev_3",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "319d1a2c.7cecfe",
        "type": "ui_group",
        "z": 0,
        "name": "Struts4Embedded",
        "tab": "2b053f6c.196b18",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "720bdb22.e394c4",
        "type": "remote-server",
        "z": 0,
        "name": "Docker ES",
        "host": "http://localhost:9200",
        "timeout": "2000",
        "reqtimeout": "2000"
    },
    {
        "id": "ae4dfe1.cbbe58",
        "type": "tls-config",
        "z": "",
        "name": "AWS-TLS",
        "cert": "/home/abusous2000/Downloads/Temp/certificate.pem.crt",
        "key": "/home/abusous2000/Downloads/Temp/private.pem.key",
        "ca": "/home/abusous2000/Downloads/Temp/amazon_cas.txt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "2b053f6c.196b18",
        "type": "ui_tab",
        "z": 0,
        "name": "Struts4Embedded",
        "icon": "fa-bitcoin",
        "disabled": false,
        "hidden": false
    }
]